<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>ホーム</title>
</head>
<body>
	<div th:replace="base/header :: header"></div>
	<br>
	<div th:text="${value}" class="h1 text-center">ホーム</div>
	<hr>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>